<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ebot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ebot urdf file -->
    <xacro:include filename="$(find ebot_description)/models/ebot/ebot_description.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ebot.ros2_control.xacro" />


    <xacro:ebot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
